<!--
  Generated template for the DetalleSeriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class='de'>
  
    <ion-navbar color='primary'>
      <ion-title>
        {{serie?.name}}
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content class='page-content' padding>
  
    <ion-card *ngIf="this.serie; let serie">
      <img  src="{{'https://image.tmdb.org/t/p/w500'+serie.backdrop_path}}"/>
  
      <div class="card-subtitle">
        <ion-list>
          <ion-item class="item-info">
            <ion-badge class="badge-info" *ngFor="let genre of serie.genres" item-start>{{genre.name}}</ion-badge>
          </ion-item>
          <ion-item class="item-info">
            <ion-badge  item-start class="badge-info" *ngFor="let company of serie.production_companies">{{company.name}}</ion-badge>
          </ion-item>
        </ion-list>
  
        <ion-row class="small-padding">
          <ion-col>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='star'></ion-icon>
              {{serie.vote_average}}
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='calendar'></ion-icon>
              {{serie.first_air_date | date}}
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-card-content>
        {{serie.overview}}
      </ion-card-content>
  
      <ion-row>
        <ion-col text-right>
          <a href="{{'https://www.youtube.com/watch?v='+serie.videos.results[0].key}}" ion-button clear small color="danger" icon-start>
            <ion-icon name='share-alt'></ion-icon>
            Ver Trailler
          </a>
        </ion-col>
      </ion-row>
  
    </ion-card>
  
  </ion-content>
  

